@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />  @* Side Navigation*@
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />  @* Top Navigation*@
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> @* About .NET *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
