@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />  @* Side Navigation *@
    </div>

    <main class="main-content">
        <div class="top-row px-4 auth">
            <LoginDisplay />  @* Top Navigation *@
        </div>
        <article class="content px-4">
            @Body
        </article>          
        <BottomInfo />
    </main>        
    <AuthorizeView>
        <RightSidePanel />
    </AuthorizeView>
</div>
