/* Styles the navbar toggle button */
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Styles the top row of the navigation bar */
.top-row {
    height: 4.0rem;
    background-color: rgba(0,0,0,0.6);
}

/* Styles the brand name in the navbar */
.navbar-brand {
    font-size: 1.4rem;
}

/* Styles the icons used in the navigation items */
.oi {
    width: 2rem;
    font-size: 1.2rem;
    vertical-align: text-top;
    top: -2px;
}

/* Styles the navigation items */
.nav-item {
    font-size: 1.0rem;
    padding-bottom: 0.5rem;
}

    /* First navigation item specific styling */
    .nav-item:first-of-type {
        padding-top: 1.4rem;
    }

    /* Last navigation item specific styling */
    .nav-item:last-of-type {
        padding-bottom: 1.4rem;
    }

    /* Styles the links within navigation items */
    .nav-item ::deep a {
        color: dimgrey;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        /* Active (Selected) link styling */
        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.5);
            color: black;
        }

        /* Hover effect for links */
        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.25);
            color: dimgrey;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
