@page "/assessments/{id:int}/edit"
@inject HttpClient _client
@inject NavigationManager _navManager

<AssessmentNavMenu AssessmentId="@id" />
<h3 class="card-title">Risk Assessment Details</h3>
<hr />
<br />

<FormComponent ButtonText="Update Form" OnValidSubmit="EditForm" assessment="assessment" />
<br />
<hr />

<button @onclick="CompleteAssessments" class="btn btn-success btn-block">Next <span class="oi oi-arrow-right"></span></button>

@code {
    [Parameter] public int id { get; set; }
    RiskAssessment? assessment = new RiskAssessment();

    protected async override Task OnParametersSetAsync()
    {
        assessment = await _client.GetFromJsonAsync<RiskAssessment>($"{Endpoints.RiskAssessmentsEndpoint}/{id}");
    }

    async Task EditForm()
    {
        await _client.PutAsJsonAsync($"{Endpoints.RiskAssessmentsEndpoint}/{id}", assessment);
        _navManager.NavigateTo($"/assessments/{id}/activities/manage");
    }

    private void CompleteAssessments()
    {
        _navManager.NavigateTo($"/assessments/{id}/activities/manage");
    }
}
