<footer>
    <p>&copy; 2024 - 3J Form Solutions Pte Ltd. All rights reserved.</p>
</footer>

<style>
    footer {
        position: static;
        color: #000000;
        background-color: #ffb366;
        text-align: center; /* Changed to center for better alignment */
        padding: 10px;
        border-top: 5px solid;
        border-image: linear-gradient(to right, #ff8000, #cc6600);
        border-image-slice: 1;
        margin-top: auto; /* Ensures footer is pushed to the bottom */
    }
</style>