<br />
<br />
<footer>
    <p>&copy; 2024 - 3J Form Solutions Pte Ltd. All rights reserved.</p>
</footer>

<style>
    footer {
        position: static;
        color: #000000;
        text-align: justify;
        padding: 10px;
        border-top: 10px solid; 
        border-image: linear-gradient(to right, #e6e600, #cc7a00);
        border-image-slice: 1;
    }
</style>