@page "/"

<PageTitle>Risk Assessor</PageTitle>

<h1>Welcome to Risk Assessment System</h1>

<h5>Your online tool for managing Risk Assessment Forms for your organisation.</h5>

<br />
<p style="font-size: 24px; font-weight: bold;">Workplace Safety</p>
<iframe id="ytplayer" type="text/html" width="700" height="480" allowfullscreen
        src="https://www.youtube.com/embed/O1Iw2kZfv2M?autoplay=0&mute=1&loop=1&playlist=O1Iw2kZfv2M,hAWOY80H22M,M9sjKdysswo">
</iframe>
<p>Sources: Workplace Safety & Health Council (YouTube)</p>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@

<BottomInfo />
