@page "/"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime js
@inject FormService FormService

<PageTitle>Risk Assessor</PageTitle>

<h1>Welcome to Risk Assessor Application</h1>

<h4>Your online tool for managing Risk Assessment forms.</h4>

<br />
<div style="display: flex; gap: 80px;">
    <div>
        <p style="font-size: 24px; font-weight: bold;">Workplace Safety and Health</p>
        <iframe id="ytplayer" type="text/html" width="720" height="500" allowfullscreen
                src="https://www.youtube.com/embed/hAWOY80H22M?autoplay=1&mute=1&loop=1&playlist=hAWOY80H22M,O1Iw2kZfv2M,M9sjKdysswo">
        </iframe>
        <br />
        Sources: <a href="https://www.youtube.com/user/ShineAtWork/videos">Workplace Safety & Health Council (YouTube)</a>
    </div>
    <div style="max-width:580px">
        <br />
        <br />
        <p style="font-size: 24px; font-weight: bold;">An Overview</p>
        <h5>
            Risk Assessment is a systematic process of evaluating the probability<br /> 
            and consequences of potential risks that may be involved in a<br />
            projected activity. It is essential in workplace safety and<br />
            health management to identify and analyse hazards,<br />
            and determine the appropriate control measures.
        </h5>
        <br />
        <br />
        <p style="font-size: 24px; font-weight: bold;">Importance of Risk Assessment</p>      
        <h6>
            <p><strong>Legal Compliance:</strong><br />Helps ensure compliance with health and safety regulations and standards.</p>
            <p><strong>Prevent Accidents and Illnesses:</strong><br />Proactively identifies and mitigates potential hazards.</p>
            <p><strong>Improves Workplace Safety:</strong><br />Creates a safer environment for employees, reducing the likelihood of<br />accidents and health issues.</p>
            <p><strong>Enhances Productivity:</strong><br />A safe workplace contributes to higher employee morale and productivity.</p>
        </h6>                   
    </div>
</div>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
@code {
    private AuthenticationState authenticationState;
    private string userName;

    private static bool popupShown = false; // Static field to persist within the session

    protected override async Task OnInitializedAsync()
    {
        try
        {
            authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authenticationState.User;

            if (user.Identity.IsAuthenticated)
            {
                userName = user.Identity.Name;

                // Ensure the pop-up is shown only once per session
                if (!popupShown)
                {
                    var areThereAnyPendingRiskAssessments = await FormService.AreThereAnyPendingRiskAssessmentsAsync();

                    if (userName.ToLower().Contains("manager"))
                    {
                        if (areThereAnyPendingRiskAssessments)
                        {
                            await js.InvokeVoidAsync("alert", $"Welcome, {userName} (Manager). There are risk assessments that are needed to be approved.");
                        }
                        else
                        {
                            await js.InvokeVoidAsync("alert", $"Welcome, {userName} (Manager). There are no risk assessments that are needed to be approved.");
                        }
                    }                 
                    popupShown = true; // Set the flag to true after showing the popup
                }
            }
            else
            {
                userName = "Anonymous";
            }
        }
        catch (Exception ex)
        {
            // Handle exceptions and log errors as necessary
            await js.InvokeVoidAsync("alert", $"Error: {ex.Message}");
        }
    }
}
