@page "/"

<PageTitle>Risk Assessor</PageTitle>

<h1>Welcome to Risk Assessor Application</h1>

<h4>Your online tool for managing Risk Assessment forms.</h4>

<br />
<div style="display: flex; gap: 100px;">
    <div>
        <p style="font-size: 24px; font-weight: bold;">Workplace Safety and Health</p>
        <iframe id="ytplayer" type="text/html" width="720" height="500" allowfullscreen
                src="https://www.youtube.com/embed/hAWOY80H22M?autoplay=1&mute=1&loop=1&playlist=hAWOY80H22M,O1Iw2kZfv2M,M9sjKdysswo">
        </iframe>
        <br />
        Sources: <a href="https://www.youtube.com/user/ShineAtWork/videos">Workplace Safety & Health Council (YouTube)</a>
    </div>
    <div style="max-width:580px">
        <br />
        <br />
        <p style="font-size: 24px; font-weight: bold;">An Overview</p>
        <h5>
            Risk Assessment is a systematic process of evaluating the probability<br /> 
            and consequences of potential risks that may be involved in a<br />
            projected activity. It is essential in workplace safety and<br />
            health management to identify and analyse hazards,<br />
            and determine the appropriate control measures.
        </h5>
        <br />
        <br />
        <p style="font-size: 24px; font-weight: bold;">Importance of Risk Assessment</p>      
        <h6>
            <p><strong>Legal Compliance:</strong><br />Helps ensure compliance with health and safety regulations and standards.</p>
            <p><strong>Prevent Accidents and Illnesses:</strong><br />Proactively identifies and mitigates potential hazards.</p>
            <p><strong>Improves Workplace Safety:</strong><br />Creates a safer environment for employees, reducing the likelihood of<br />accidents and health issues.</p>
            <p><strong>Enhances Productivity:</strong><br />A safe workplace contributes to higher employee morale and productivity.</p>
        </h6>                   
    </div>
</div>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@

