<EditForm Model="@activity" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label> Work Activity: </label>
            <div>
                <InputTextArea @bind-Value="activity.Name" class="form-control" style="width: 300px; height: 80px; resize: none;" />
                <ValidationMessage For="@(() => activity.Name)" />
            </div>
        </div>
    </fieldset>
    <br />
    <div style="display: flex; gap: 20px">
        <div>
            @if (!Disabled)
            {
                <button type="submit" class="btn btn-secondary">
                    @ButtonText
                </button>
            }
        </div>
        @if (ButtonText == "Update Activity")
        {
            <div>
                <button @onclick="CancelEdit" class="btn btn-secondary">Cancel</button>
            </div>
        }
    </div>
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public WorkActivity? activity { get; set; } 
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; } 
    [Parameter] public EventCallback OnCancelEdit { get; set; }

    private async Task CancelEdit()
    {
        await OnCancelEdit.InvokeAsync();
    }
}
