@page "/activities/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable
@inject NavigationManager _navManager

<h3 class="card-title">Activities Data</h3>

<br />
<br />

@if (Activities == null)
{
    <div class="alert alert-info">Loading Activities Data...</div>
}
else
{
    <table class="table table-responsive" id="bookingsTable">
        <thead>
            <tr>
                <th>Assessment Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Activities)
            {
                <tr>
                    <td>@activity.AssessmentId</td>
                    <td>@activity.Name</td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(activity.Id))">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<WorkActivity>? Activities;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Activities = await _client.GetFromJsonAsync<List<WorkActivity>>($"{Endpoints.WorkActivitiesEndpoint}");
    }

    async Task Delete(int activityId)
    {
        if (Activities != null)
        {
            var activity = Activities.First(q => q.Id == activityId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {activity.Name}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.WorkActivitiesEndpoint}/{activityId}");
                await OnInitializedAsync();
                _navManager.NavigateTo("/activities/", forceLoad: true);
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#bookingsTable");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#bookingsTable");
    }
}