@page "/rafs/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Raf</h3>
<hr />
<br /> 

<FormComponent ButtonText="Create Raf" raf="raf" OnValidSubmit="@CreateRaf" />



@code {
    RAF raf = new RAF();

    private async Task CreateRaf()
    {
        await _client.PostAsJsonAsync(Endpoints.RAFsEndpoint, raf);
        _navManager.NavigateTo("/rafs/");
    }
}
