@page "/rafs/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Raf</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditRaf" raf="raf" />

@code {
    [Parameter] public int id { get; set; }
    RAF? raf = new RAF();

    protected async override Task OnParametersSetAsync()
    {
        raf = await _client.GetFromJsonAsync<RAF>($"{Endpoints.RAFsEndpoint}/{id}");
    }

    async Task EditRaf()
    {
        await _client.PutAsJsonAsync($"{Endpoints.RAFsEndpoint}/{id}", raf); 
        _navManager.NavigateTo("/rafs/"); 
    }
}
