@page "/rafs/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Raf</h3>

<FormComponent raf="raf" Disabled="true" /> @*disable textfield*@


@code {
    [Parameter] public int id { get; set; }
    RAF? raf = new RAF();
    protected async override Task OnParametersSetAsync()
    {
        raf = await
        _client.GetFromJsonAsync<RAF>($"{Endpoints.RAFsEndpoint}/{id}");
    }
}