@page "/riskteams/create"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject UserRoleService UserRoleService

<h3 class="card-title">Create</h3>
<hr />
<br /> 

<FormComponent ButtonText="Create RiskTeam" riskteam="riskteam" Users="Users" OnValidSubmit="@CreateRiskTeam" />



@code {
    RiskTeam riskteam = new RiskTeam();
    List<UserRoleDto> Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await UserRoleService.GetUsersAsync();
    }

    private async Task CreateRiskTeam()
    {
        await _client.PostAsJsonAsync(Endpoints.RiskTeamsEndpoint, riskteam);
        _navManager.NavigateTo("/riskteams/");
    }
}
