@page "/teams/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Risk Team</h3>
<hr />
<br /> 

<FormComponent ButtonText="Create Risk Team" team="team" OnValidSubmit="@CreateTeam" />



@code {
    RiskTeam team = new RiskTeam();

    private async Task CreateTeam()
    {
        await _client.PostAsJsonAsync(Endpoints.RiskTeamsEndpoint, team);
        _navManager.NavigateTo("/teams/");
    }
}
