@page "/teams/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Risk Team</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditTeam" team="team" />

@code {
    [Parameter] public int id { get; set; }
    RiskTeam? team = new RiskTeam();

    protected async override Task OnParametersSetAsync()
    {
        team = await _client.GetFromJsonAsync<RiskTeam>($"{Endpoints.RiskTeamsEndpoint}/{id}");
    }

    async Task EditTeam()
    {
        await _client.PutAsJsonAsync($"{Endpoints.RiskTeamsEndpoint}/{id}", team); 
        _navManager.NavigateTo("/teams/"); 
    }
}
