@page "/riskteams/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View RiskTeam</h3>

<FormComponent riskteam="riskteam" Disabled="true" /> @*disable textfield*@


@code {
    [Parameter] public int id { get; set; }
    RiskTeam? riskteam = new RiskTeam();
    protected async override Task OnParametersSetAsync()
    {
        riskteam = await
        _client.GetFromJsonAsync<RiskTeam>($"{Endpoints.RiskTeamsEndpoint}/{id}");
    }
}