@* @page "/approvals/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Approval</h3>

<FormComponent ButtonText="Update Approval" OnValidSubmit="EditApproval" approval="approval" />

@code {
    [Parameter] public int id { get; set; }
    Approval? approval = new Approval();

    protected async override Task OnParametersSetAsync()
    {
        approval = await _client.GetFromJsonAsync<Approval>($"{Endpoints.ApprovalsEndpoint}/{id}");
    }

    async Task EditApproval() 
    {
        await _client.PutAsJsonAsync($"{Endpoints.ApprovalsEndpoint}/{id}", approval); 
        _navManager.NavigateTo("/approvals/"); 
    }
} *@
