@page "/approvals/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Approval</h3>

<FormComponent approval="approval" Disabled="true" /> @*disable textfield*@


@code {
    [Parameter] public int id { get; set; }
    Approval? approval = new Approval();
    protected async override Task OnParametersSetAsync()
    {
        approval = await
        _client.GetFromJsonAsync<Approval>($"{Endpoints.ApprovalsEndpoint}/{id}");
    }
}